In [1]:
import pandas as pd

In [2]:
series1 = pd.Series( [2, 4, 6, 8] )

print(type(series1))
print(series1.shape)
print(series1)

<class 'pandas.core.series.Series'>
(4,)
0    2
1    4
2    6
3    8
dtype: int64

In [3]:
series2 = pd.Series( [2, 4, 6, 8], index = ['a', 'b', 'c', 'd'] )

print(type(series2))
print(series2.shape)
print(series2)

<class 'pandas.core.series.Series'>
(4,)
a    2
b    4
c    6
d    8
dtype: int64

In [4]:
series2.values

array([2, 4, 6, 8], dtype=int64)

In [5]:
series2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
series2[1]

4

In [7]:
series2[0:2]

a    2
b    4
dtype: int64

In [8]:
series2['d']

8

In [9]:
series2.a

2

In [10]:
L1 = [1, 3, 5, 7, 9]

series3 = pd.Series(data = L1, index = ['a', 'b', 'c', 'd', 'e'])
print(type(series3))
print(series3.shape)
print(series3)

<class 'pandas.core.series.Series'>
(5,)
a    1
b    3
c    5
d    7
e    9
dtype: int64

In [11]:
L2 = ['a', 'b', 'c', 'd', 'e']
series4 = pd.Series(data = L1, index = L2)
series4

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [12]:
D1 = {
    'a': 12,
    'b': 8,
    'c': 10,
    'd': 16,
    'e': 4
}

series5 = pd.Series(data = D1)
series5

a    12
b     8
c    10
d    16
e     4
dtype: int64

In [13]:
series6 = pd.Series(data = D1, index = ['a2', 'b2', 'c2', 'd2', 'e2'])
series6

a2   NaN
b2   NaN
c2   NaN
d2   NaN
e2   NaN
dtype: float64

In [14]:
import numpy as np

array1 = np.array( [12, 22, 18, 16, 10] )
series7 = pd.Series(array1)
series7

0    12
1    22
2    18
3    16
4    10
dtype: int32

In [15]:
series8 = pd.Series(3, index=['a', 'b', 'c', 'd'])
series8

a    3
b    3
c    3
d    3
dtype: int64

In [16]:
series7 > 12

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [17]:
series7[ series7 > 12 ]

1    22
2    18
3    16
dtype: int32

In [18]:
series7.mean()

15.6

In [19]:
series7[ series7 >= series7.mean() ]

1    22
2    18
3    16
dtype: int32

In [20]:
#######################################################################################

In [21]:
df1 = pd.DataFrame([ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12] ])
df1

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [22]:
print(type(df1))
print(df1.shape)

<class 'pandas.core.frame.DataFrame'>
(4, 3)

In [23]:
df2 = pd.DataFrame( [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns = ['a', 'b', 'c'],  )
df2

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [24]:
import numpy as np

array1 = np.array([ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12] ])
array1

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [25]:
L1 = ['a', 'b', 'c']

In [26]:
df3 = pd.DataFrame(data = array1, columns = L1)
df3

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [27]:
#######################################################################################

In [28]:
df = pd.read_csv("E:\\Dataset\\Diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [29]:
df.shape

(752, 9)

In [30]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [31]:
df.values

array([[6.000e+00, 1.480e+02, 7.200e+01, ..., 6.270e-01, 5.000e+01,
        0.000e+00],
       [1.000e+00, 8.500e+01, 6.600e+01, ..., 3.510e-01, 3.100e+01,
        1.000e+00],
       [8.000e+00, 1.830e+02, 6.400e+01, ..., 6.720e-01, 3.200e+01,
        1.000e+00],
       ...,
       [6.000e+00, 1.620e+02, 6.200e+01, ..., 1.780e-01, 5.000e+01,
        1.000e+00],
       [4.000e+00, 1.360e+02, 7.000e+01, ..., 1.182e+00, 2.200e+01,
        1.000e+00],
       [1.000e+00, 1.210e+02, 7.800e+01, ..., 2.610e-01, 2.800e+01,
        0.000e+00]])

In [32]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1

In [33]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,0,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [34]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [35]:
df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
742,1,109,58,18,116,28.5,0.219,22,0
743,9,140,94,0,0,32.7,0.734,45,1
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0
746,1,147,94,41,0,49.3,0.358,27,1
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [36]:
df.iloc[0:10 , 0:3]

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66
4            0      137             40
5            5      116             74
6            3       78             50
7           10      115              0
8            2      197             70
9            8      125             96

In [37]:
df.iloc[100:110, 5:]

      BMI  DiabetesPedigreeFunction  Age  Outcome
100  39.0                     1.222   33        1
101  26.1                     0.179   22        0
102  22.5                     0.262   21        0
103  26.6                     0.283   24        0
104  39.6                     0.930   27        0
105  28.7                     0.801   21        0
106  22.4                     0.207   27        0
107  29.5                     0.287   37        0
108  34.3                     0.336   25        0
109  37.4                     0.247   24        1

In [38]:
df.iloc[2][3]

0.0

In [39]:
df.loc[0][0:2]

Pregnancies      6.0
Glucose        148.0
Name: 0, dtype: float64

In [40]:
df.loc[4]["Age"]

33.0

In [41]:
df["Age"] >= 70

0      False
1      False
2      False
3      False
4      False
       ...
747    False
748    False
749    False
750    False
751    False
Name: Age, Length: 752, dtype: bool

In [42]:
df.loc[ df["Age"] >= 60 ]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
30,5,109,75,26,0,36.0,0.546,60,0
93,4,134,72,0,0,23.8,0.277,60,1
115,4,146,92,0,0,31.2,0.539,61,1
123,5,132,80,0,0,26.8,0.186,69,0
129,0,105,84,0,0,27.9,0.741,62,1
148,5,147,78,0,25,33.7,0.218,65,0
186,8,181,68,36,200,30.1,0.615,60,1
212,7,179,95,31,0,34.2,0.164,60,0
221,2,158,90,0,0,31.6,0.805,66,1
223,7,142,60,33,190,28.8,0.687,61,0
263,3,142,80,15,0,32.4,0.200,63,0
294,0,161,50,0,0,21.9,0.254,65,0
361,5,158,70,0,0,29.8,0.207,63,0
362,5,103,108,37,0,39.2,0.345,65,0
363,4,146,78,0,12,38.5,0.520,67,1
453,2,119,0,0,0,19.6,0.832,72,1
456,1,135,54,0,0,26.7,0.687,62,0
459,9,134,74,33,60,25.9,0.460,81,1
479,4,132,86,31,0,28.0,0.419,63,0
489,8,194,80,0,0,26.1,0.551,67,0
495,6,166,74,0,0,26.6,0.304,66,0
509,8,120,78,0,0,25.0,0.409,64,0
519,6,129,90,7,326,19.6,0.582,60,1
537,0,57,60,0,0,21.7,0.735,67,0
552,6,114,88,0,0,27.8,0.247,66,1
579,2,197,70,99,0,34.7,0.575,62,1
582,12,121,78,17,0,26.5,0.259,62,0
666,4,145,82,18,0,32.5,0.235,70,1
674,8,91,82,0,0,35.6,0.587,68,0
684,5,136,82,0,0,0.0,0.640,69,0

In [43]:
df.loc[ df["Outcome"] == 1 ]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
743,9,140,94,0,0,32.7,0.734,45,1
746,1,147,94,41,0,49.3,0.358,27,1
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1

In [44]:
df[ (df["Age"] >= 40) & (df["Outcome"] == 1) ]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,0,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
13,1,189,80,23,0,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
24,11,143,94,33,146,36.6,0.254,51,1
...,...,...,...,...,...,...,...,...,...
722,1,149,68,29,127,29.3,0.349,42,1
739,1,102,74,0,0,39.5,0.293,42,1
740,11,120,80,37,150,42.3,0.785,48,1
743,9,140,94,0,0,32.7,0.734,45,1
749,6,162,62,0,0,24.3,0.178,50,1

In [45]:
df[ (df["Age"] >= 50) & (df["Age"] <= 55) & (df["Outcome"] == 1) ]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,0,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
14,5,166,72,19,175,25.8,0.587,51,1
24,11,143,94,33,146,36.6,0.254,51,1
43,9,171,110,24,240,45.4,0.721,54,1
207,5,162,104,0,0,37.7,0.151,52,1
236,7,181,84,21,192,35.9,0.586,51,1
259,11,155,76,28,150,33.3,1.353,51,1
284,2,108,80,0,0,27.0,0.259,52,1
458,10,148,84,48,237,37.6,1.001,51,1
498,7,195,70,33,145,25.1,0.163,55,1
516,9,145,88,34,165,30.3,0.771,53,1
546,5,187,76,27,207,43.6,1.034,53,1
560,6,125,76,0,0,33.8,0.121,54,1
584,8,124,76,24,600,28.7,0.687,52,1
588,3,176,86,27,156,33.3,1.154,52,1
603,7,150,78,29,126,35.2,0.692,54,1
614,11,138,74,26,144,36.1,0.557,50,1
618,9,112,82,24,0,28.2,1.282,50,1
642,6,147,80,0,0,29.5,0.178,50,1
676,9,156,86,0,0,24.8,0.230,53,1
702,1,168,88,29,0,35.0,0.905,52,1
719,5,97,76,27,0,35.6,0.378,52,1
749,6,162,62,0,0,24.3,0.178,50,1

In [46]:
df["Age"][0:3]

0    50
1    31
2    32
Name: Age, dtype: int64

In [47]:
df["Age"][2]

32

In [48]:
df["Age"][2] = 25

<ipython-input-48-3593cdef1f55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"][2] = 25

In [49]:
df["Age"].sum()

24918

In [50]:
df["Age"].min()

21

In [51]:
df["Age"].max()

81

In [52]:
df["Age"].shape

(752,)

In [53]:
df.Age[10:15]

10    30
11    34
12    57
13    59
14    51
Name: Age, dtype: int64

In [54]:
df.Age[10:15].sum()

231

In [55]:
df["Age"].mean()

33.13563829787234

In [56]:
df["Age"].median()

29.0

In [57]:
df[ ["Age", "Outcome"] ]

     Age  Outcome
0     50        0
1     31        1
2     25        1
3     21        1
4     33        1
..   ...      ...
747   32        0
748   36        1
749   50        1
750   22        1
751   28        0

[752 rows x 2 columns]

In [58]:
df[["Age", "Outcome"]].mean()

Age        33.135638
Outcome     0.388298
dtype: float64

In [59]:
all( df["Age"] >= 20 )

True

In [60]:
all( df["Age"] >= 25)

False

In [61]:
any(df["Age"] >= 65)

True

In [62]:
any( df["Age"] >= 100)

False

In [63]:
df["Age"].value_counts()

22    71
21    63
25    48
24    46
23    37
28    35
26    31
27    31
29    29
31    24
41    22
30    20
42    18
37    18
38    16
33    16
36    16
32    15
34    14
45    14
40    13
46    13
43    12
39    11
35    10
50     8
51     8
44     8
58     7
52     7
54     6
60     5
57     5
47     5
53     5
49     5
48     5
55     4
62     4
59     3
63     3
56     3
65     3
66     3
67     3
61     2
69     2
70     1
72     1
64     1
68     1
81     1
Name: Age, dtype: int64

In [64]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000
mean,3.840426,120.757979,68.936170,20.694149,78.285904,31.967420,0.474126,33.135638,0.388298
std,3.367197,31.981851,19.459984,16.057804,109.797814,7.921048,0.336583,11.705562,0.487687
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.300000,0.240000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.375500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.250000,128.250000,36.600000,0.627500,40.250000,1.000000
max,17.000000,199.000000,122.000000,99.000000,744.000000,67.100000,2.420000,81.000000,1.000000

In [65]:
df.describe().loc['max']

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     744.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
Name: max, dtype: float64

In [66]:
df.describe().loc['max'][1]

199.0

In [67]:
df["Age"].mean()

33.13563829787234

In [68]:
df["Age"].std()

11.70556247833669

In [69]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,25,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [70]:
df.groupby("Age").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,1.079365,108.317460,65.936508,19.349206,78.396825,27.817460,0.434413,0.174603
22,1.549296,108.492958,63.802817,21.338028,75.309859,29.525352,0.425901,0.239437
23,1.594595,112.081081,64.162162,22.270270,123.243243,31.532432,0.441919,0.216216
24,1.891304,117.891304,64.956522,25.934783,88.021739,32.569565,0.403239,0.173913
25,1.875000,111.645833,59.708333,23.458333,79.562500,31.887500,0.590417,0.312500
26,2.064516,116.580645,63.032258,24.741935,80.290323,34.561290,0.420645,0.290323
27,2.580645,115.064516,73.612903,18.096774,64.354839,31.793548,0.451452,0.322581
28,3.028571,119.914286,68.142857,23.628571,100.400000,33.642857,0.438143,0.314286
29,3.310345,127.379310,67.724138,21.000000,86.931034,33.541379,0.408897,0.482759
30,3.550000,122.350000,64.500000,18.700000,81.200000,30.225000,0.373350,0.300000
31,3.875000,126.958333,64.375000,20.000000,106.416667,34.016667,0.589583,0.583333
32,4.200000,111.866667,70.466667,19.400000,38.200000,32.920000,0.609333,0.600000
33,3.750000,125.000000,65.875000,23.062500,94.625000,32.950000,0.771187,0.750000
34,5.857143,131.857143,74.000000,22.642857,148.071429,31.164286,0.649857,0.285714
35,5.000000,121.400000,75.600000,22.600000,75.000000,33.780000,0.580400,0.600000
36,5.187500,132.437500,69.125000,19.187500,65.812500,31.718750,0.472875,0.687500
37,5.500000,130.277778,75.277778,17.166667,56.444444,31.833333,0.378944,0.333333
38,6.875000,121.125000,71.125000,19.625000,33.500000,35.568750,0.413937,0.625000
39,7.454545,125.818182,71.090909,24.727273,79.000000,31.981818,0.625455,0.272727
40,6.230769,130.923077,69.230769,24.230769,72.769231,33.538462,0.376077,0.461538
41,6.500000,129.090909,66.454545,17.409091,34.272727,35.259091,0.432045,0.545455
42,6.888889,109.555556,73.388889,19.222222,61.277778,34.983333,0.388000,0.388889
43,7.666667,129.916667,78.833333,27.583333,133.083333,36.300000,0.454833,0.750000
44,7.250000,124.375000,61.750000,4.625000,32.250000,34.162500,0.668375,0.625000
45,7.285714,129.571429,83.428571,19.785714,33.357143,35.142857,0.500286,0.571429
46,6.384615,105.923077,76.000000,24.153846,112.307692,34.523077,0.426846,0.538462
47,9.800000,139.200000,82.000000,17.400000,59.000000,35.460000,0.356600,0.600000
48,8.800000,107.600000,78.400000,23.400000,52.000000,29.980000,0.456800,0.400000
49,7.600000,153.000000,81.400000,21.600000,55.200000,32.020000,0.612000,0.600000
50,6.750000,138.250000,75.875000,16.000000,26.375000,31.225000,0.470125,0.500000
51,8.625000,147.625000,84.500000,21.875000,129.375000,33.975000,0.615250,0.625000
52,5.285714,134.428571,82.857143,15.285714,108.000000,33.071429,0.540714,0.857143
53,5.400000,158.000000,79.000000,21.200000,74.400000,30.500000,0.550600,0.800000
54,7.000000,140.333333,89.333333,8.833333,61.000000,30.800000,0.465500,0.666667
55,5.500000,140.750000,70.250000,16.250000,83.750000,27.025000,0.226500,0.250000
56,8.000000,98.333333,76.333333,32.333333,69.000000,31.700000,0.936667,0.666667
57,8.800000,137.800000,76.800000,9.600000,78.000000,29.700000,0.704000,0.200000
58,7.142857,135.142857,78.285714,19.285714,167.857143,32.428571,0.554714,0.571429
59,2.333333,173.333333,80.666667,16.666667,0.000000,26.966667,0.252667,1.000000
60,6.000000,146.400000,80.000000,20.000000,105.200000,28.740000,0.436800,0.600000
61,5.500000,144.000000,76.000000,16.500000,95.000000,30.000000,0.613000,0.500000
62,3.750000,139.500000,71.500000,29.000000,0.000000,28.950000,0.565500,0.500000
63,4.000000,144.000000,78.666667,15.333333,0.000000,30.066667,0.275333,0.000000
64,8.000000,120.000000,78.000000,0.000000,0.000000,25.000000,0.409000,0.000000
65,3.333333,137.000000,78.666667,12.333333,8.333333,31.600000,0.272333,0.000000
66,4.666667,146.000000,84.000000,0.000000,0.000000,28.666667,0.452000,0.666667
67,4.000000,132.333333,72.666667,0.000000,4.000000,28.766667,0.602000,0.333333
68,8.000000,91.000000,82.000000,0.000000,0.000000,35.600000,0.587000,0.000000
69,5.000000,134.000000,81.000000,0.000000,0.000000,13.400000,0.413000,0.000000
70,4.000000,145.000000,82.000000,18.000000,0.000000,32.500000,0.235000,1.000000
72,2.000000,119.000000,0.000000,0.000000,0.000000,19.600000,0.832000,1.000000
81,9.000000,134.000000,74.000000,33.000000,60.000000,25.900000,0.460000,1.000000

In [71]:
df[ df["Age"] == 21].mean()

Pregnancies                   1.079365
Glucose                     108.317460
BloodPressure                65.936508
SkinThickness                19.349206
Insulin                      78.396825
BMI                          27.817460
DiabetesPedigreeFunction      0.434413
Age                          21.000000
Outcome                       0.174603
dtype: float64

In [72]:
df.groupby("Age").min()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,0,0,0,0,0,0.0,0.078,0
22,0,0,0,0,0,0.0,0.085,0
23,0,68,0,0,0,20.1,0.108,0
24,0,77,0,0,0,0.0,0.089,0
25,0,68,0,0,0,0.0,0.000,0
26,0,71,0,0,0,0.0,0.120,0
27,0,73,0,0,0,18.2,0.000,0
28,0,80,0,0,0,19.5,0.149,0
29,0,86,0,0,0,24.3,0.134,0
30,0,88,0,0,0,0.0,0.100,0
31,0,85,0,0,0,23.8,0.088,0
32,0,81,0,0,0,23.2,0.084,0
33,0,75,30,0,0,23.4,0.145,0
34,2,83,50,0,0,24.0,0.282,0
35,0,77,44,0,0,24.0,0.156,0
36,0,44,0,0,0,24.5,0.180,0
37,3,0,0,0,0,21.0,0.122,0
38,0,72,0,0,0,30.0,0.088,0
39,3,74,54,0,0,24.7,0.162,0
40,1,96,0,0,0,23.0,0.141,0
41,0,0,0,0,0,26.2,0.096,0
42,1,65,52,0,0,24.4,0.126,0
43,1,95,58,0,0,26.8,0.128,0
44,0,92,0,0,0,23.6,0.137,0
45,1,102,70,0,0,27.6,0.144,0
46,0,61,62,0,0,23.1,0.085,0
47,5,68,68,0,0,25.5,0.165,0
48,5,88,72,0,0,20.8,0.153,0
49,6,125,68,0,0,27.6,0.302,0
50,1,99,62,0,0,24.3,0.178,0
51,5,125,72,0,0,25.8,0.190,0
52,1,97,70,0,0,27.0,0.151,0
53,2,105,70,0,0,23.3,0.158,0
54,2,109,76,0,0,0.0,0.121,0
55,3,103,61,0,0,21.1,0.151,0
56,4,90,72,18,0,23.1,0.595,0
57,5,95,72,0,0,22.2,0.245,0
58,0,91,68,0,0,23.6,0.200,0
59,0,137,78,0,0,23.5,0.129,1
60,4,109,68,0,0,19.6,0.164,0
61,4,142,60,0,0,28.8,0.539,0
62,0,105,54,0,0,26.5,0.259,0
63,3,132,70,0,0,28.0,0.200,0
64,8,120,78,0,0,25.0,0.409,0
65,0,103,50,0,0,21.9,0.218,0
66,2,114,74,0,0,26.6,0.247,0
67,0,57,60,0,0,21.7,0.520,0
68,8,91,82,0,0,35.6,0.587,0
69,5,132,80,0,0,0.0,0.186,0
70,4,145,82,18,0,32.5,0.235,1
72,2,119,0,0,0,19.6,0.832,1
81,9,134,74,33,60,25.9,0.460,1

In [73]:
df.groupby("BloodPressure").min()

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
BloodPressure,,,,,,,,
0,0,73,0,0,0.0,0.000,21,0
24,1,89,19,25,27.8,0.559,21,0
30,1,88,38,99,43.3,0.183,26,0
38,1,109,18,120,23.1,0.407,26,0
40,0,137,35,168,43.1,2.288,33,1
44,1,102,13,0,22.4,0.140,22,0
46,1,127,19,83,28.7,0.176,22,0
48,1,0,0,0,20.4,0.140,22,0
50,0,73,0,0,21.9,0.181,21,0
52,0,74,0,0,24.6,0.078,21,0
54,1,91,0,0,22.3,0.154,22,0
55,1,80,0,0,19.1,0.136,21,0
56,0,56,0,0,20.8,0.332,21,0
58,0,83,0,0,21.8,0.151,21,0
60,0,57,0,0,21.7,0.088,21,0
61,6,137,0,0,24.2,0.151,55,0
62,0,44,0,0,19.5,0.085,21,0
64,0,75,0,0,0.0,0.126,21,0
65,0,83,0,0,21.9,0.148,21,0
66,0,80,0,0,19.6,0.129,21,0
68,0,0,0,0,18.2,0.092,21,0
70,0,68,0,0,18.2,0.085,21,0
72,1,65,0,0,20.8,0.123,21,0
74,0,0,0,0,19.5,0.088,21,0
75,0,79,0,0,0.0,0.148,21,0
76,0,67,0,0,18.4,0.118,21,0
78,0,62,0,0,21.1,0.101,21,0
80,0,0,0,0,19.3,0.084,21,0
82,0,61,0,0,0.0,0.115,21,0
84,0,100,0,0,27.3,0.182,22,0
85,0,90,15,0,28.9,0.189,24,0
86,0,81,0,0,24.8,0.127,21,0
88,0,78,0,0,22.9,0.197,21,0
90,0,84,0,0,19.6,0.128,21,0
92,2,92,0,0,19.9,0.188,28,0
94,0,111,0,0,32.7,0.254,26,0
95,7,179,31,0,34.2,0.164,60,0
96,0,117,0,0,0.0,0.157,21,0
98,1,115,0,0,24.0,0.209,28,0
100,0,93,35,0,43.3,0.239,22,0
102,1,133,28,140,32.8,0.234,45,1
104,0,162,0,0,34.3,0.151,41,1
106,8,68,0,0,35.5,0.165,43,0
108,5,103,0,0,39.2,0.227,37,0
110,0,129,24,0,28.5,0.319,26,1
114,13,158,0,0,42.3,0.257,44,1
122,1,96,0,0,22.4,0.207,27,0

In [74]:
df[["Age", "BMI"]].groupby("Age").mean()

           BMI
Age
21   27.817460
22   29.525352
23   31.532432
24   32.569565
25   31.887500
26   34.561290
27   31.793548
28   33.642857
29   33.541379
30   30.225000
31   34.016667
32   32.920000
33   32.950000
34   31.164286
35   33.780000
36   31.718750
37   31.833333
38   35.568750
39   31.981818
40   33.538462
41   35.259091
42   34.983333
43   36.300000
44   34.162500
45   35.142857
46   34.523077
47   35.460000
48   29.980000
49   32.020000
50   31.225000
51   33.975000
52   33.071429
53   30.500000
54   30.800000
55   27.025000
56   31.700000
57   29.700000
58   32.428571
59   26.966667
60   28.740000
61   30.000000
62   28.950000
63   30.066667
64   25.000000
65   31.600000
66   28.666667
67   28.766667
68   35.600000
69   13.400000
70   32.500000
72   19.600000
81   25.900000

In [75]:
df["Age"].value_counts()

22    71
21    63
25    48
24    46
23    37
28    35
26    31
27    31
29    29
31    24
41    22
30    20
42    18
37    18
38    16
33    16
36    16
32    15
34    14
45    14
40    13
46    13
43    12
39    11
35    10
50     8
51     8
44     8
58     7
52     7
54     6
60     5
57     5
47     5
53     5
49     5
48     5
55     4
62     4
59     3
63     3
56     3
65     3
66     3
67     3
61     2
69     2
70     1
72     1
64     1
68     1
81     1
Name: Age, dtype: int64

In [76]:
df["Age"].value_counts().count()

52

In [77]:
len( df["Age"].value_counts())

52

In [78]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,25,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [79]:
df.iloc[0] = [10, 130, 75, 20, 0, 36, 0.362, 42, 1]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,10,130,75,20,0,36.0,0.362,42,1
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,25,1
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0

In [80]:
import random

L1 = [random.randint(20, 90) for i in range(752)]

In [81]:
df["Age"] = L1
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,10,130,75,20,0,36.0,0.362,87,1
1,1,85,66,29,0,26.6,0.351,29,1
2,8,183,64,0,0,23.3,0.672,45,1
3,1,89,66,23,94,28.1,0.167,26,1
4,0,137,40,35,168,43.1,2.288,48,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,25,0
748,3,187,70,22,200,36.4,0.408,86,1
749,6,162,62,0,0,24.3,0.178,76,1
750,4,136,70,0,0,31.2,1.182,71,1
751,1,121,78,39,74,39.0,0.261,23,0

In [82]:
df = df.rename(columns={'Age':'a'})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,a,Outcome
0,10,130,75,20,0,36.0,0.362,87,1
1,1,85,66,29,0,26.6,0.351,29,1
2,8,183,64,0,0,23.3,0.672,45,1
3,1,89,66,23,94,28.1,0.167,26,1
4,0,137,40,35,168,43.1,2.288,48,1
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,25,0
748,3,187,70,22,200,36.4,0.408,86,1
749,6,162,62,0,0,24.3,0.178,76,1
750,4,136,70,0,0,31.2,1.182,71,1
751,1,121,78,39,74,39.0,0.261,23,0

In [83]:
df.to_csv("E:\\dataset\\CSV.csv")

In [84]:
df.to_excel("E:\\dataset\\Excel.xlsx")

In [85]:
df_excel = pd.read_excel("E:\\dataset\\Excel.xlsx")
df_excel

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,a,Outcome
0,0,10,130,75,20,0,36.0,0.362,87,1
1,1,1,85,66,29,0,26.6,0.351,29,1
2,2,8,183,64,0,0,23.3,0.672,45,1
3,3,1,89,66,23,94,28.1,0.167,26,1
4,4,0,137,40,35,168,43.1,2.288,48,1
...,...,...,...,...,...,...,...,...,...,...
747,747,1,81,74,41,57,46.3,1.096,25,0
748,748,3,187,70,22,200,36.4,0.408,86,1
749,749,6,162,62,0,0,24.3,0.178,76,1
750,750,4,136,70,0,0,31.2,1.182,71,1
751,751,1,121,78,39,74,39.0,0.261,23,0

In [86]:
df2 = pd.DataFrame( [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns = ['a', 'b', 'c'], dtype=float)
df2

      a     b     c
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [87]:
df3 = pd.DataFrame( [[10, 2, 30], [4, 50, 6], [70, 8, 9], [100, 101, 12]], columns = ['a', 'b', 'c'], dtype=float)
df3

       a      b     c
0   10.0    2.0  30.0
1    4.0   50.0   6.0
2   70.0    8.0   9.0
3  100.0  101.0  12.0

In [88]:
df4 = pd.concat( [df2, df3], axis=0)
df4

       a      b     c
0    1.0    2.0   3.0
1    4.0    5.0   6.0
2    7.0    8.0   9.0
3   10.0   11.0  12.0
0   10.0    2.0  30.0
1    4.0   50.0   6.0
2   70.0    8.0   9.0
3  100.0  101.0  12.0

In [89]:
df5 = pd.concat([df2, df3], axis=1)
df5

      a     b     c      a      b     c
0   1.0   2.0   3.0   10.0    2.0  30.0
1   4.0   5.0   6.0    4.0   50.0   6.0
2   7.0   8.0   9.0   70.0    8.0   9.0
3  10.0  11.0  12.0  100.0  101.0  12.0

In [90]:
for i in df["Outcome"]:
    print(i)

1
1
1
1
1
0
1
0
1
1
0
1
0
1
1
1
1
1
0
1
0
0
0
1
1
1
0
0
0
0
0
1
0
0
1
1
1
1
1
1
0
0
0
1
0
1
0
0
1
0
0
0
0
1
0
0
1
0
0
0
0
1
0
0
1
0
1
0
0
0
1
0
1
0
0
0
0
0
1
0
1
0
1
0
1
0
0
0
1
0
0
0
0
1
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
1
1
1
0
0
0
1
1
0
0
0
1
0
0
0
1
1
0
0
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
1
1
0
0
0
1
0
0
0
0
1
1
0
0
1
0
1
1
0
0
0
1
0
1
0
1
0
0
0
0
0
1
1
1
1
1
0
0
1
1
0
1
0
1
1
1
0
0
0
0
0
0
1
1
0
1
0
0
0
1
1
1
1
0
1
1
1
1
0
0
0
0
0
1
0
0
1
1
0
0
0
1
1
1
1
0
0
0
1
1
0
1
0
0
0
0
0
0
0
0
1
1
0
0
0
1
0
1
0
0
1
0
1
0
0
1
1
0
0
0
0
0
1
0
0
0
1
0
0
1
1
0
0
1
0
0
0
1
1
1
0
0
1
0
1
0
1
1
0
1
0
0
1
0
1
1
0
0
1
0
1
0
0
1
0
1
0
1
1
1
0
0
1
0
1
0
0
0
1
0
0
0
0
1
1
1
0
0
0
1
0
0
1
0
0
1
0
0
0
0
0
1
1
1
0
1
1
0
0
1
0
0
1
0
0
1
1
0
0
0
0
1
0
0
1
0
0
0
0
0
0
0
1
1
1
0
0
1
0
0
1
0
0
1
0
1
1
0
1
0
1
0
1
0
1
1
0
0
0
0
1
1
0
1
0
1
0
0
0
0
1
1
0
1
0
1
0
0
0
0
0
1
0
0
0
0
1
0
0
1
1
1
0
0
1
0
0
1
0
1
0
1
0
0
1
1
1
1
1
0
0
0
0
0
1
0
0
0
1
0
0
1
1
0
0
0
1
0
0
0
1
1
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
1
0
0
0
1
1
0
0
1
0
0
1
0
1
1
0
0
1
0
1
0
1
0
1
0
0
1
0
0
0
0
0
0
1
0
0
0
1
1
1
1
0
0
1
1
0
0
1
0
0
1
0
0
0
0
1
0
0
1
1
0
1
0
0
1
0
0
1
0
1
0
0
1
0
0
1
0
1
1
0
0
0
1
0
1
0
1
0
1
0
1
0
0
1
0
0
1
0
0
1
0
1
1
0
1
0
0
0
0
1
1
0
1
0
0
0
1
1
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
1
0
1
0
1
0
0
0
1
1
1
0
0
0
0
1
0
1
1
0
0
1
0
1
1
1
1
0
1
1
0
0
0
0
0
0
0
1
1
0
1
0
0
1
0
1
0
0
0
0
0
1
0
1
0
1
0
1
1
0
0
0
0
1
1
0
0
0
1
0
1
1
0
0
1
0
0
1
1
0
0
1
0
0
1
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
1
1
0
0
1
0
0
1
0
1
1
1
0

In [91]:
L1 = []
for i in df["Outcome"]:
    if i == 0:
        L1.append('دیابت ندارد')
    elif i == 1:
        L1.append("دیابت دارد")

In [92]:
####################################################################################################################

In [93]:
len(L1)

752

In [94]:
L1

['دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت ندارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت دارد',
 'دیابت ندارد']

In [95]:
df["Outcome"] = L1
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,a,Outcome
0,10,130,75,20,0,36.0,0.362,87,دیابت دارد
1,1,85,66,29,0,26.6,0.351,29,دیابت دارد
2,8,183,64,0,0,23.3,0.672,45,دیابت دارد
3,1,89,66,23,94,28.1,0.167,26,دیابت دارد
4,0,137,40,35,168,43.1,2.288,48,دیابت دارد
...,...,...,...,...,...,...,...,...,...
747,1,81,74,41,57,46.3,1.096,25,دیابت ندارد
748,3,187,70,22,200,36.4,0.408,86,دیابت دارد
749,6,162,62,0,0,24.3,0.178,76,دیابت دارد
750,4,136,70,0,0,31.2,1.182,71,دیابت دارد
751,1,121,78,39,74,39.0,0.261,23,دیابت ندارد

In [96]:
df["Outcome"].value_counts()

دیابت ندارد    459
دیابت دارد     293
Name: Outcome, dtype: int64

In [ ]:
df["BloodPressure"].value_counts()

In [ ]:
List = []
for i in range(len(df)):
    List.append(df["a"][i])

len(List)

In [ ]:
List

In [ ]:
df["a"].apply( lambda x: x >= 40 and x <= 45)

In [ ]:
df[ df["a"].apply(lambda x: x >= 40 and x <= 45) ]

In [ ]:
df[ df["Outcome"].apply( lambda x: x == "دیابت دارد") ]